<ion-header>
  <ion-navbar>
    <ion-title>MrQuick</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gaming</ion-label>
      <ion-select [(ngModel)]="gaming">
        <ion-option value="nes">NES</ion-option>
        <ion-option value="n64">Nintendo64</ion-option>
        <ion-option value="ps">PlayStation</ion-option>
        <ion-option value="genesis">Sega Genesis</ion-option>
        <ion-option value="saturn">Sega Saturn</ion-option>
        <ion-option value="snes">SNES</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-list radio-group>
    <ion-list-header>
      Language
    </ion-list-header>

    <ion-item>
      <ion-label>Go</ion-label>
      <ion-radio checked="true" value="go"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Rust</ion-label>
      <ion-radio value="rust"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Python</ion-label>
      <ion-radio value="python" disabled="true"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Daenerys Targaryen</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Arya Stark</ion-label>
      <ion-checkbox disabled="true"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
